// ## use cycles
//	 @for $i from 1 through 3
//	   .item-#{$i}
//			width: 2em * $i;
//	 @each $s in a,b,c
// 			#{$s}
//				display: none

// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif

$blue: #2BC1D6
$pink: #EE4288
$pink-light: #ef4f8d
$gray: #D9DADB
$gray-light: #F1F2F2
$gray-dark: #939598
$black: #231F20
$border: #cccdd0
$border-light: #f1f2f3

+font(Nevis, Nevis-Bold)  
=nevis
	font-family: "Nevis", Arial, sans-serif
+font(National-Regular, National-Regular)  
=regular
	font-family: "National-Regular", Arial, sans-serif
+font(National-Medium, National-Medium)  
=medium
	font-family: "National-Medium", Arial, sans-serif
+font(National-Bold, National-Bold)  
=semibold
	font-family: "National-Semibold", Arial, sans-serif
+font(National-Bold, National-Bold)  
=bold
	font-family: "National-Bold", Arial, sans-serif
+font(National-Extrabold, National-Extrabold)  
=extrabold
	font-family: "National-Extrabold", Arial, sans-serif
+font(National-Light, National-Light)  
=light
	font-family: "National-Light", Arial, sans-serif
+font(National-LightItalic, National-LightItalic)  
=lightitalic
	font-family: "National-LightItalic", Arial, sans-serif
+font(National-Semibold, National-Semibold)

=fonticon
	font-family: "iconfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
	min-width: 320px
	+light
	font-size: 15px
	line-height: 1.3
	color: $black
	+rm(719)
		font-size: 18px
button
	background: none
a
	color: $blue
	&:hover
		text-decoration: none
	
.wrapper
	margin: 0 auto
	padding-bottom: 50px

.center
	max-width: 1066px
	margin: 0 auto
	padding: 0 20px
	+rm(719)
		padding: 0 35px

.layout
	+clr
	+rm(767)
		margin-bottom: 60px

.section
	+rm(767)
		float: left
		width: 52%

.aside
	+rm(767)
		float: right
		width: 42%
	+rm(1023)
		width: 39%

.column
	width: 100%
	max-width: 500px
	margin: 0 auto
	+rm(767)
		max-width: 100%
		margin: 0
	&_left
		+rm(767)
			float: left
			width: 40%
	&_right
		+rm(767)
			width: 50%
			float: right

.header
	min-height: 68px
	margin-bottom: 30px
	padding-bottom: 5px
	border-bottom: 1px solid #D9DADB
	+rm(719)
		margin-bottom: 70px
		padding-bottom: 8px
	&__center
		+clr
	&__logo
		float: left
		margin-top: 25px
		+nevis
		font-size: 27px
		color: $black 
		letter-spacing: -2px
		text-decoration: none
		+rm(719)
			margin-top: 21px
			font-size: 31px
	&_campaign
		+r(766)
			margin-bottom: -68px
			padding: 0
			border: none
	&_campaign &__logo
		+r(766)
			display: none

.main
	height: 300px
	padding-top: 150px
	background: url(../img/bg-main-sm.jpg) no-repeat 50% 50% / cover
	margin-bottom: 40px
	text-align: center
	+rm(719)
		height: 470px
		margin: -70px 0 65px 
		background: url(../img/bg-main.jpg) no-repeat 50% 50% / cover
		text-align: left
	&__logo
		+nevis
		font-size: 45px
		color: #f3f2f3
		letter-spacing: -2px
		text-decoration: none
		line-height: 1
		+rm(719)
			display: none
		&-white
			color: #fff
	&__title
		+lightitalic
		font-size: 17px
		color: #fff
		+rm(719)
			width: 400px
			+extrabold
			font-size: 48px
			line-height: 1

.nav
	float: right
	margin-top: 30px
	+rm(767)
		margin-top: 35px
	&__btn
		height: 22px
		padding: 0 5px
		border: 1px solid
		+light
		font-size: 16px
		text-transform: uppercase
		letter-spacing: 2px
		+rm(719)
			height: 26px
			font-size: 21px
		+rm(767)
			display: none
	&__list
		display: none
		float: right
		+rm(767)
			display: block
	&__group
		float: left
		margin-left: 60px
		&:first-child
			margin: 0
	&__link
		float: left
		margin-left: 20px
		+regular
		font-size: 16px
		color: #000
		text-decoration: none
		&:first-child
			margin: 0
	&_white &__btn
		+r(766)
			color: #FFF 

.content
	margin-bottom: 30px
	line-height: 1.4
	+rm(719)
		margin-bottom: 50px
		line-height: 1.8
	h1,
	h2,
	h3,
	h3,
	h4,
	h5,
	h6
		+medium
		font-weight: 400 
	h4
		font-size: 18px
		+rm(719)
			margin-bottom: 20px
			font-size: 24px
	h6
		font-size: 15px
		color: $blue
		+rm(719)
			font-size: 18px
	p
		margin-bottom: 20px
	img
		max-width: 100%
	table
		max-width: 490px
		margin: 0 auto
		th,
		td
			padding: 15px 10px
			border: 1px solid $border
			text-align: center
		th
			+semibold

.author
	margin-bottom: 5px
	+clr
	+rm(719)
		margin-bottom: 15px
		padding-bottom: 13px
		border-bottom: 1px solid $border-light
	+rm(767)
		margin-bottom: 20px
		padding-bottom: 0
		border: none
	&__ava
		float: left
		width: 46px
		margin-right: 10px
		+rm(719)
			margin-right: 20px
			width: 54px
		&-el
			display: block
			max-width: 100%
			border-radius: 50%
	&__info
		display: table
		+rm(719)
			line-height: 1.1
	&__name
		+lightitalic
		font-size: 18px
		color: $gray-dark
		+rm(719)
			font-size: 24px
	&__title
		+extrabold
		font-size: 22px
		+rm(719)
			font-size: 30px
		
.price
	margin-bottom: 20px
	font-size: 35px
	color: $gray-dark 
	text-align: center
	text-transform: uppercase
	line-height: 1
	+rm(719)
		margin-bottom: 40px
	+rm(767)
		margin-bottom: 15px
		padding: 10px 0 15px
		border-bottom: 1px solid $border-light 
		+extrabold
		text-align: left
		font-size: 30px
		color: $black 

.slider
	position: relative
	margin: 0 -20px 20px
	+rm(719)
		margin: 0 -35px 40px
	+rm(767)
		margin: 0 0 40px
		padding-bottom: 40px
		border-bottom: 1px solid $border-light 
	&__list
		padding-bottom: 20px
		font-size: 0
		text-align: center
		+rm(719)
			padding-bottom: 30px
		.slick-prev
			left: 10px
			+rm(767)
				left: -25px
		.slick-next
			right: 10px
			+rm(767)
				right: -25px
	&__item
		position: relative
	&__item-pic
		display: inline-block
		max-width: 100%
		vertical-align: top
	&__label
		position: absolute
		top: 10px
		left: 20px
		color: $blue
		+rm(719)
			left: 35px
		.icon
			font-size: 94px
			+rm(719)
				font-size: 140px
	&__previews
		display: none
		max-width: 476px
		margin: 0 auto
		font-size: 0
		+rm(719)
			display: block
		&-item
			width: 68px
			padding: 2px 0
			text-align: center
		&-img
			max-width: 58px
			max-height: 58px
			border: 1px solid $border
			cursor: pointer
		.slick-center &-img
			border-color: $blue
			box-shadow: 0 0 0 2px $blue
		.slick-prev
			left: -25px
		.slick-next
			right: -25px
	.slick-prev,
	.slick-next
		position: absolute
		top: 50%
		margin-top: -20px
		padding: 10px
		font-size: 0
		color: $gray 
		z-index: 2
		&:before
			+fonticon
			font-size: 20px 
	.slick-prev
		&:before
			content: "\EA04"
	.slick-next
		&:before
			content: "\EA05"
	.slick-dots
		position: absolute
		left: 0
		right: 0
		bottom: 0
		text-align: center
		font-size: 0
		li
			display: inline-block
			padding: 0 3px
			vertical-align: top
			&.slick-active
				button
					background: $pink 
		button
			width: 10px
			height: 10px
			border-radius: 50%
			background: $gray
			font-size: 0

.product
	margin-bottom: 30px
	+rm(719)
		margin-bottom: 55px
	&__type,
	&__title
		text-align: center
		+rm(767)
			text-align: left
	&__type
		font-size: 16px
		letter-spacing: 3px 
	&__title
		margin-bottom: 20px
		+extrabold
		font-size: 28px
		+rm(719)
			margin-bottom: 30px
	&__options
		margin-bottom: 30px
	&__msg
		+lightitalic
		text-align: center
	&__btn
		width: 100%
		margin-bottom: 7px
	&__content
		+rm(767)
			margin-bottom: 20px
			padding-bottom: 30px
			border-bottom: 1px solid $border-light 

.sizes
	margin-bottom: 35px
	&__head
		font-size: 16px
	&__wrap
		display: none
		padding-top: 25px
	&__list
		margin-bottom: 25px
	&__product
		position: relative
		margin-bottom: 10px
		padding-left: 18px
		&:before
			content: ""
			position: absolute
			top: 6px
			left: 5px
			width: 6px
			height: 6px
			background: $black
			border-radius: 50%
	&__table
		width: 100%
		&-pic
			display: block
			max-width: 100%
		th
			height: 44px
			padding: 0 10px
			background: $blue
			border: 1px solid $blue
			+extrabold
			color: #FFF
			vertical-align: middle
		td
			height: 40px
			padding: 0 10px
			text-align: center
			border: 1px solid $border
			text-align: center
			vertical-align: middle
			&:first-child
				+extrabold
				font-size: 21px
	
.option
	margin-bottom: 20px
	user-select: none 
	&__title
		margin-bottom: 10px
		+bold
		font-size: 18px
		text-transform: uppercase
	&__selected
		margin-left: 5px
		+light
		text-transform: none
	&__list
		margin: 0 -10px -10px 0
		font-size: 0
	&__item
		display: inline-block
		position: relative
		margin: 0 10px 10px 0
		vertical-align: top
		cursor: pointer
	&__input
		display: none
	&__input:checked + &__var
		&:before
			display: block
	&__var
		display: block
		position: relative
		&:before
			content: ""
			display: none
			position: absolute
			top: -1px
			left: -1px
			right: -1px
			bottom: -1px
			border: 3px solid $blue
			border-radius: 50%
			z-index: 2 
	&__pic
		width: 54px
		height: 54px
		border-radius: 50%
	&__size
		display: block
		width: 54px
		height: 54px
		border-radius: 50%
		border: 1px solid $border
		background: linear-gradient(#f0f0f1, #e3e4e5)
		text-align: center
		line-height: 52px
		font-size: 22px
	&_sm &__title
		margin-bottom: 5px
	&_sm &__pic
		+rm(1023)
			width: 42px
			height: 42px
	&_sm &__size
		+rm(1023)
			width: 42px
			height: 42px
			line-height: 40px
			font-size: 18px
		
.select
	position: relative
	&__head
		position: relative
		height: 42px
		padding: 0 34px 0 12px
		border: 1px solid $border
		background: linear-gradient(#fff, #e1e2e3)
		border-radius: 2px
		font-size: 18px
		white-space: nowrap
		text-overflow: ellipsis
		line-height: 40px
		overflow: hidden
		&:before,
		&:after
			content: ""
			position: absolute
		&:before
			top: 0
			right: 0
			width: 26px
			height: 40px
			border-left: 1px solid $border
			border-left: 0 2px 2px 0
			background: linear-gradient(to left, #fafafa, #e2e3e4)
		&:after
			top: 12px
			right: 8px
			+arr(9,9,#fff,br)
			box-shadow: 1px 1px 0 $border
			transform: rotate(45deg)
	&__el
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0 
		border: none
		cursor: pointer

.form
	margin-bottom: 40px
	&__title
		margin-bottom: 8px
		+bold
		letter-spacing: 3px
		+rm(1023)
			margin-bottom: 30px
	&__head
		+clr
	&__paysys
		float: right
		+rm(1023)
			display: none
	&__fieldset
		margin-bottom: 25px
	&__fieldset_row
		+rm(1023)
			margin: 0 -10px 40px
			+clr
	&__field,
	&__option
		+rm(1023)
			float: left
			width: 50%
			padding: 0 10px
	&__option_sm
		+rm(1023)
			width: 30%
	&__option_md
		+rm(1023)
			width: 35%
	&__field_wide
		+rm(1023)
			width: 100%
	&__field_lg
		+rm(1023)
			width: 65%
	&__field_sm
		+rm(1023)
			width: 35%
	&__btn
		width: 100%
	&__or
		padding: 10px 0
		font-size: 20px
		text-transform: uppercase
		text-align: center
		+rm(1023)
			display: none
	&__row
		+rm(1023)
			margin: 0 -10px
			+clr
	&__col
		+rm(1023)
			float: left
			width: 50%
			padding: 0 10px
	&__close
		display: none
		position: absolute
		top: 33px
		right: -5px
		width: 30px
		background: #FFF
		border-radius: 50%
		+extrabold
		font-size: 22px
		line-height: 30px
		+rm(719)
			display: block
	&_change
		display: none
		position: relative
		margin: 0
		&.is-active
			display: block
		+r(718)
			padding: 10px
			border: 1px solid $border
			border-radius: 5px
		+rm(719)
			display: block
			padding-right: 30px
			&:after
				content: ""
				position: absolute
				top: 30px
				left: -50px
				+arr(20,40,#F1F2F2,l)
	&_change &__option
		&:last-child
			margin: 0
	&_change &__fieldset
		margin: 0

.field
	margin-bottom: 5px
	&__label
		margin-bottom: 5px
		font-size: 18px
		+rm(719)
			+extrabold
			font-size: 20px
	&__label,
	&__wrap
		&_hidden
			display: none
	&_style
		margin-bottom: 20px
	&_style &__label
		+extrabold
		font-size: 18px
		text-transform: uppercase

.input
	width: 100%
	height: 42px
	padding: 0 12px 
	border: 1px solid $border
	border-radius: 2px
	+light
	font-size: 18px

.btn
	height: 56px
	padding: 0 20px
	background: $pink
	border-radius: 4px
	+light
	font-size: 22px
	color: #fff 
	letter-spacing: 1px
	&:hover
		background: $pink-light
	&:disabled
		background: #BCBDC0
		cursor: not-allowed
	&__pic,
	&__title
		display: inline-block
		vertical-align: middle
	&__pic
		margin-left: 10px
		width: 105px
	&_white	
		background: #FFF
		border: 1px solid $border
		color: $black
		&:hover
			background: $gray-light

.paysys
	font-size: 0
	&__item
		display: inline-block
		margin-left: 10px
		vertical-align: top
		&:first-child
			margin: 0
	&__logo
		width: 33px 

.card
	&__wrap
		+clr
		+r(1022)
			height: 42px
			padding: 0 12px 
			border: 1px solid $border
			background: #FFF 
			border-radius: 2px
	&__wrap.is-active &__number_full
		+r(1022)
			display: none
	&__wrap.is-active &__fieldset
		+r(1022)
			display: block
	&__preview
		position: relative
		float: left
		width: 33px
		height: 22px
		margin: 10px 12px 0 0
		border-radius: 2px 
		font-size: 0
		perspective: 1000
		transform-style: preserve-3d
		+rm(1023)
			display: none
		&.is-active &-front
			transform: rotateY(-180deg)
		&.is-active &-back
			transform: rotateY(0deg)
		&-front,
		&-back
			position: absolute
			top: 0
			left: 0
			width: 33px
			height: 22px
			background: $border
			border-radius: 2px
			backface-visibility: hidden
			transition: 0.6s
			transform-style: preserve-3d
		&-front
			transform: rotateY(0deg)
			z-index: 2
		&-back
			transform: rotateY(180deg)
		&-back &-pic
			display: block
		&-pic
			display: none
			width: 33px
			&.is-active
				display: block
	&__logo
		width: 33px
	&__number
		overflow: hidden
		&_full
			+rm(1023)
				float: left
				width: 50%
		&_short
			float: left
			width: 65px
			+rm(1023)
				display: none
	&__input
		width: 100%
		height: 40px
		+light
		font-size: 18px
		+r(1022)
			border: none
			padding: 0
	&__field
		&-label
			display: none
			margin-bottom: 5px
			+extrabold
			font-size: 20px
			+rm(1023)
				display: block
	&__date,
	&__cvv
		float: left
		width: 65px
		+rm(1023)
			width: 25%
			padding-left: 20px 
	&__edit
		padding-top: 3px
		+lightitalic
		text-decoration: underline
		font-size: 14px
		color: $gray-dark 
		+rm(1023)
			display: none
	&__fieldset
		display: none
		+rm(1023)
			display: block

.tabs
	&__nav
		display: none
		margin-bottom: 25px
		font-size: 0
		+rm(767)
			display: block
	&__link
		display: inline-block
		margin-right: 40px
		padding: 0 10px
		vertical-align: top
		text-decoration: none
		text-align: center
		opacity: .7 
		&:hover,
		&.is-active
			opacity: 1 
		&.is-active &-title
			border-color: $blue
		&-icon
			margin-bottom: 7px
			.icon
				font-size: 30px
		&-title
			border-bottom: 4px solid transparent
			+regular
			font-size: 16px
			text-transform: uppercase
			color: #000
	&__title
		margin: 0 -20px 20px
		padding: 2px 20px
		background: $blue
		+extrabold
		font-size: 24px
		text-align: center
		color: #fff
		+rm(719)
			margin: 0 -35px 50px
			padding: 10px 35px
		+rm(767)
			margin: 0 0 30px
			padding: 0
			background: none
			text-align: left
			font-size: 26px
			color: $black
	&__item
		position: relative
		+rm(767)
			display: none
		&.is-active
			+rm(767)
				display: block

.counter
	margin-bottom: 35px
	font-size: 0
	text-align: center
	+rm(719)
		margin-bottom: 55px
	&__item,
	&__dots
		display: inline-block
		vertical-align: top
	&__item
		width: 54px
		+rm(719)
			width: 64px
	&__value,
	&__dots
		+extrabold
		font-size: 27px
		line-height: 1
		+rm(719)
			font-size: 33px
	&__type
		font-size: 18px
		+rm(719)
			padding-top: 5px
			font-size: 20px

.progress
	margin-bottom: 45px
	+rm(719)
		margin-bottom: 30px
	&__el
		position: relative
		height: 14px
		margin-bottom: 20px
		border-radius: 7px 0 0 7px
		background: $gray
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			height: 14px
			width: 14px
			border-radius: 7px
			box-shadow: 1px 0 0 #fff, 2px 0 0 #fff, 4px 0 0 #fff, 7px 0 0 #fff
	&__range
		position: relative
		height: 14px
		background: linear-gradient(#f05394, #f05394 50%, $pink 50%, $pink)
		border-radius: 7px 0 0 7px
	&__tooltip
		position: absolute
		right: 0
		bottom: 20px
		width: 40px
		margin-right: -20px
		background: $black
		+extrabold
		font-size: 14px
		text-align: center
		color: #FFF
		&:after
			content: ""
			position: absolute
			top: 100%
			left: 50%
			margin-left: -6px
			+arr(12,6,$black,b)
	&__wrap
		position: relative
		max-width: 400px
		margin: 0 auto
		border: 1px solid $border
		table-layout: fixed
		font-size: 0
		+rm(767)
			max-width: 320px
		&:before
			content: ""
			position: absolute
			top: -7px
			left: 50%
			margin-left: -10px
			box-shadow: 1px -1px 0 $border
			transform: rotate(-45deg)
			+arr(14,14,#fff,tr)
	&__info	
		display: inline-block
		width: 33.33%
		padding: 10px 12px
		text-align: center
		vertical-align: top
		line-height: 1.1
		&:first-child
			text-align: left
		&:last-child
			text-align: right
		&-wrap
			display: inline-block
			text-align: center
			vertical-align: top
	&__val
		+extrabold
		font-size: 27px
	&__type
		font-size: 18px
	&__label
		margin-top: -20px
		+clr
		&-item
			float: right
			&:first-child
				float: left
	&_scale
		margin-bottom: 30px
		padding-top: 24px

.info
	display: table
	position: relative
	margin: 0 auto 30px
	padding-left: 20px
	color: $gray-dark 
	+rm(719)
		margin-bottom: 60px
		padding-left: 25px
	&__icon
		position: absolute
		top: 3px
		left: 0
		font-size: 0
		.icon
			font-size: 13px
			+rm(719)
				font-size: 17px 

.share
	margin-bottom: 25px
	text-align: center
	font-size: 0
	+rm(719)
		margin-bottom: 80px
	&__title
		position: relative
		margin-bottom: 25px
		+extrabold
		font-size: 24px
		letter-spacing: -1px
		+rm(719)
			margin-bottom: 40px
			padding-bottom: 20px
			+light
			font-size: 22px
			text-transform: uppercase
			letter-spacing: 4px
			&:before
				content: ""
				position: absolute
				bottom: 0
				left: 50%
				width: 220px
				margin-left: -110px
				height: 1px
				background: $border-light  
	&__btn
		width: 38px
		height: 38px
		margin: 0 8px 10px
		background: $black 
		border-radius: 50%
		border: 2px solid $black
		font-size: 0
		color: #FFF 
		vertical-align: top
		+rm(719)
			width: 54px
			height: 54px
			margin: 0 10px 10px
		&:hover
			background: #FFF
			color: $black
		&:active
			background: $black
			color: #fff
			opacity: .7   
		.icon-twitter
			font-size: 17px
			+rm(719)
				font-size: 24px 
		.icon-facebook
			font-size: 20px
			+rm(719)
				font-size: 27px
		.icon-instagram
			font-size: 18px
			+rm(719)
				font-size: 25px
		.icon-pinterest
			font-size: 21px
			+rm(719)
				font-size: 28px
		.icon-email
			font-size: 14px
			+rm(719)
				font-size: 21px
	&__text
		margin-bottom: 20px
		padding-top: 30px
		font-size: 20px
		+rm(767)
			padding: 0
			font-size: 28px
	&_simple
		margin-bottom: 60px
		+rm(767)
			margin-bottom: 0
			text-align: left
	&_simple &__btn
		margin-left: 4px
		margin-right: 4px
		border-color: transparent
		background: transparent
		color: $blue 
		.icon-twitter
			font-size: 24px 
		.icon-facebook
			font-size: 27px
		.icon-instagram
			font-size: 25px
		.icon-pinterest
			font-size: 28px
		.icon-email
			font-size: 21px

.item
	width: 276px
	border: 1px solid $border
	cursor: pointer
	+rm(719)
		width: 290px
	&:hover &__wrap
		opacity: .6
	&:hover &__progress-type
		+lightitalic
	&__wrap
		position: relative
	&__price
		position: absolute
		top: 15px
		right: 15px
		width: 40px
		height: 40px
		background: $black 
		border-radius: 50%
		font-size: 20px
		line-height: 40px
		text-align: center
		color: #FFF
		+rm(719)
			top: 18px
			right: 18px
			width: 46px
			height: 46px
			font-size: 22px
			line-height: 46px 
	&__pic
		display: block
		max-width: 100%
	&__head
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 4px 15px
		background: rgba(#fff,.7)
		text-align: center
		line-height: 1.2
	&__author
		+lightitalic
		font-size: 17px
	&__title
		+extrabold
		font-size: 20px
	&__progress
		&-el
			height: 14px
			background: $gray
		&-range
			height: 14px
			background: $pink
		&-wrap
			display: table
			width: 100%
			border-top: 1px solid $border
		&-info
			display: table-cell
			width: 50%
			padding: 7px
			vertical-align: top
			text-align: center
			line-height: 1.1
			&:nth-child(2)
				border-left: 1px solid $border
		&-val
			+extrabold
			font-size: 22px
		&-type
			font-size: 18px
		 
.similar
	margin: 0 -20px
	font-size: 0
	+rm(719)
		margin: 0 -35px
	&__title
		margin-bottom: 20px
		+extrabold
		font-size: 24px
		text-align: center
		+rm(719)
			margin-bottom: 30px
			font-size: 38px
	&__slide
		padding-left: 20px
		+rm(719)
			padding-left: 35px
		+rm(1023)
			padding: 0
	&__item
		+rm(1023)
			margin: 0 auto

.shipping
	&__nav
		margin: 0 -20px 20px 0
		+rm(719)
			margin: 0 0 30px
			text-align: center
		+rm(767)
			position: absolute
			top: 5px
			right: 0
		&-head
			display: none
			+medium
			color: $blue
			cursor: pointer 
			&:after
				content: ""
				display: inline-block
				margin-left: 4px
				+arr(9,5,$blue,b)
				vertical-align: middle
			+rm(767)
				display: block
		&-list
			+rm(767)
				display: none
				position: absolute
				top: -6px
				right: -4px
				min-width: 100%
				background: #FFF
				border-radius: 4px
				border: 1px solid $border 
				&.is-active
					display: block
	&__link
		display: inline-block
		margin: 0 20px 10px 0
		+medium
		font-size: 18px
		vertical-align: top
		text-decoration: none
		&.is-active
			text-decoration: underline
			+rm(767)
				background: rgba($blue,.1) 
		+rm(719)
			margin: 0 25px 10px
			font-size: 20px
		+rm(767)
			display: block
			margin: 0
			padding: 5px 15px
			border-top: 1px solid $border 
			font-size: 18px
			white-space: nowrap
			&:first-child
				border: none
	&__item
		display: none
		&.is-active
			display: block

.back
	margin-bottom: 15px
	&__link,
	&__title
		display: inline-block
		vertical-align: middle
	&__link
		text-decoration: none
	&__link:hover &__title
		text-decoration: none
	&__title
		+lightitalic
		font-size: 17px 
		text-decoration: underline
	.icon
		margin-right: 5px
		font-size: 10px
		vertical-align: middle

.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	min-width: 320px
	background: rgba($black,.4)
	overflow: auto
	+rm(719)
		padding: 35px 0
	&__center
		padding: 0
		+rm(719)
			padding: 0 35px
	&__in
		position: relative
		background: #FFF 
		+clr
		&:before
			+rm(719)
				content: ""
				position: absolute
				top: 0
				right: 0
				left: 290px
				bottom: 0
				width: auto
				background: $gray-light
	&__close
		display: none
		position: absolute
		top: 10px
		right: 10px
		width: 30px
		height: 30px
		background: #FFF
		border-radius: 50%
		+extrabold
		font-size: 22px
		line-height: 30px
		z-index: 10
		+rm(719)
			display: block
	&__row
		clear: both
		+clr
	&__section,
	&__aside
		position: relative
		padding: 10px
		+rm(719)
			padding: 35px 25px 30px
	&__section
		z-index: 2
		+rm(719)
			float: right
			width: 100%
			margin-left: -290px
			padding-left: 320px 
	&__aside
		z-index: 4 
		+rm(719)
			float: left
			width: 290px
			overflow: hidden

.order
	padding-bottom: 50px
	&__title
		margin-bottom: 2px
		+bold
		letter-spacing: 3px
	&__title-sub
		margin-bottom: 30px
		+lightitalic
		color: $pink
	&__item
		position: relative
		margin-bottom: 20px
		+clr
	&__preview
		float: left
		width: 70px
	&__pic
		display: block
		max-width: 100%
	&__info
		float: right
		width: 100%
		margin-left: -90px
		padding: 0 20px 0 90px
	&__close
		position: absolute
		top: -5px
		right: 0
		width: 20px
		+extrabold
		font-size: 22px
		line-height: 30px
		+rm(719)
			display: none
	&__name
		+extrabold
		font-size: 18px
	&__options
		margin-bottom: 5px
		+lightitalic
		font-size: 16px
		color: $gray-dark
	&__price
		text-align: right
		font-size: 18px
	&__stats
		margin-bottom: 2px
		+clr
		&-value
			float: right
			margin-left: 20px
			padding-top: 1px
			font-size: 18px
		&-title
			display: table
			+extrabold
			font-size: 20px
		&_total
			padding-top: 20px
		&_total &-value
			+extrabold
			padding: 0
			font-size: 20px
		&_thin &-title
			+light
	&__id
		margin-bottom: 15px
		&-number
			margin-right: 5px
			+bold
	&__edit
		color: $pink
		+rm(719)
			display: none
	&_form
		+rm(1023)
			width: 50%
			margin-left: 50%
			padding-left: 10px
	&_single
		padding: 0
	&_single &__item
		margin: 0
	&_single &__preview
		+rm(719)
			float: none
			width: 100%
			margin: 0
	&_single &__info
		+rm(719)
			float: none
			margin: 0 0 20px
			padding: 0
			text-align: center
	&_single &__name
		+rm(719)
			font-size: 24px
	&_single &__options
		+rm(719)
			font-size: 18px

.thank
	margin-bottom: 65px
	text-align: center
	font-size: 28px
	+rm(767)
		margin-bottom: 25px
		text-align: left
	&__title
		margin-bottom: 25px
	&__bold
		+bold

.mark
	margin-bottom: 45px
	text-align: center
	font-size: 0
	color: $blue
	+rm(767)
		margin-bottom: 100px
		padding-top: 30px
	.icon
		font-size: 140px 

.title
	margin-bottom: 5px
	+bold
	font-size: 23px
	+rm(767)
		font-size: 28px

.bg
	+rm(719)
		padding-top: 25px
		background: #F5F5F7 

.secure
	margin-top: 30px
	+lightitalic
	font-size: 14px
	text-align: center
	&__wrap
		margin-bottom: 10px
		font-size: 0
	&__icon,
	&__title
		display: inline-block
		vertical-align: middle
	&__icon
		margin-right: 10px
		.icon
			font-size: 14px
	&__title
		font-size: 14px
		
.campaigns
	text-align: center
	&__title
		margin-bottom: 35px 
		font-size: 16px
		letter-spacing: 2px
		+rm(719)
			+regular
			margin-bottom: 60px
			font-size: 26px
	&__list
		margin-bottom: 20px
		font-size: 0
	&__col
		display: inline-block
		width: 100%
		margin-bottom: 40px
		vertical-align: top
		+rm(719)
			width: 50%
			margin-bottom: 80px
		+rm(1023)
			width: 33.33%
	&__item
		margin: 0 auto 

.how
	&__title
		margin-bottom: 20px
		+extrabold
		font-size: 28px
		text-align: center
		+rm(767)
			margin-bottom: 30px
			font-size: 38px
	&__list
		position: relative
		padding: 60px 0 30px
		background: #F5F5F7
		font-size: 0
		+rm(767)
			padding: 70px 0 15px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 50%
			margin-left: -20px
			+arr(40,20,#fff,b)
	&__item
		display: inline-block
		width: 100%
		margin-bottom: 25px
		vertical-align: top
		+rm(767)
			width: 46%
			margin-bottom: 55px
			&:nth-child(2n)
				margin-left: 8%
	&__type
		padding-left: 60px
		+extrabold
		text-transform: uppercase
		font-size: 18px
		text-transform: uppercase
		+rm(767)
			margin-bottom: 15px
			font-size: 20px
	&__info
		+clr
	&__icon
		float: left
		width: 45px
		height: 45px
		margin: 0 15px 0 0
		background: $blue
		border-radius: 50%
		color: #FFF
		+vertical
		.icon
			font-size: 26px
			vertical-align: middle
	&__text
		display: table
		font-size: 15px
		+rm(719)
			font-size: 18px






















