@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('eot'),
         url('../fonts/iconfont.woff') format('woff'),
         url('../fonts/iconfont.woff2') format('woff2'),
         url('../fonts/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$icon-about: "\EA01";
$icon-arrow-back-sm: "\EA02";
$icon-arrow-back: "\EA03";
$icon-arrow-left: "\EA04";
$icon-arrow-right: "\EA05";
$icon-email: "\EA06";
$icon-facebook: "\EA07";
$icon-faq: "\EA08";
$icon-how-donate: "\EA09";
$icon-how-find: "\EA0A";
$icon-how-rock: "\EA0B";
$icon-how-share: "\EA0C";
$icon-info: "\EA0D";
$icon-instagram: "\EA0E";
$icon-lock: "\EA0F";
$icon-makes-an-impact-1: "\EA10";
$icon-makes-an-impact-2: "\EA11";
$icon-makes-an-impact-3: "\EA12";
$icon-makes-an-impact-4: "\EA13";
$icon-pinterest: "\EA14";
$icon-shipping: "\EA15";
$icon-twitter: "\EA16";


%icon {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    @extend %icon;
    display: inline-block;
}

.icon-about:before { content: $icon-about; }
.icon-arrow-back-sm:before { content: $icon-arrow-back-sm; }
.icon-arrow-back:before { content: $icon-arrow-back; }
.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-email:before { content: $icon-email; }
.icon-facebook:before { content: $icon-facebook; }
.icon-faq:before { content: $icon-faq; }
.icon-how-donate:before { content: $icon-how-donate; }
.icon-how-find:before { content: $icon-how-find; }
.icon-how-rock:before { content: $icon-how-rock; }
.icon-how-share:before { content: $icon-how-share; }
.icon-info:before { content: $icon-info; }
.icon-instagram:before { content: $icon-instagram; }
.icon-lock:before { content: $icon-lock; }
.icon-makes-an-impact-1:before { content: $icon-makes-an-impact-1; }
.icon-makes-an-impact-2:before { content: $icon-makes-an-impact-2; }
.icon-makes-an-impact-3:before { content: $icon-makes-an-impact-3; }
.icon-makes-an-impact-4:before { content: $icon-makes-an-impact-4; }
.icon-pinterest:before { content: $icon-pinterest; }
.icon-shipping:before { content: $icon-shipping; }
.icon-twitter:before { content: $icon-twitter; }
