<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="wrapper">
      {{>header}}
      {{{body}}}
    </div>
  </body>
  <script src="assets/js/lib/head.js" data-headjs-load="assets/js/init.js"></script>
</html>