@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

html {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }
  *:before,
  *:after {
    box-sizing: border-box; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: inline-block; }

.icon-about:before {
  content: ""; }

.icon-arrow-back-sm:before {
  content: ""; }

.icon-arrow-back:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-faq:before {
  content: ""; }

.icon-how-donate:before {
  content: ""; }

.icon-how-find:before {
  content: ""; }

.icon-how-rock:before {
  content: ""; }

.icon-how-share:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-lock:before {
  content: ""; }

.icon-makes-an-impact-1:before {
  content: ""; }

.icon-makes-an-impact-2:before {
  content: ""; }

.icon-makes-an-impact-3:before {
  content: ""; }

.icon-makes-an-impact-4:before {
  content: ""; }

.icon-pinterest:before {
  content: ""; }

.icon-shipping:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: Nevis;
  src: url("../fonts/Nevis-Bold.eot");
  src: url("../fonts/Nevis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nevis-Bold.woff2") format("woff2"), url("../fonts/Nevis-Bold.woff") format("woff"), url("../fonts/Nevis-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Regular;
  src: url("../fonts/National-Regular.eot");
  src: url("../fonts/National-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Regular.woff2") format("woff2"), url("../fonts/National-Regular.woff") format("woff"), url("../fonts/National-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Medium;
  src: url("../fonts/National-Medium.eot");
  src: url("../fonts/National-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Medium.woff2") format("woff2"), url("../fonts/National-Medium.woff") format("woff"), url("../fonts/National-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Bold;
  src: url("../fonts/National-Bold.eot");
  src: url("../fonts/National-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Bold.woff2") format("woff2"), url("../fonts/National-Bold.woff") format("woff"), url("../fonts/National-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Bold;
  src: url("../fonts/National-Bold.eot");
  src: url("../fonts/National-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Bold.woff2") format("woff2"), url("../fonts/National-Bold.woff") format("woff"), url("../fonts/National-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Extrabold;
  src: url("../fonts/National-Extrabold.eot");
  src: url("../fonts/National-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Extrabold.woff2") format("woff2"), url("../fonts/National-Extrabold.woff") format("woff"), url("../fonts/National-Extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Light;
  src: url("../fonts/National-Light.eot");
  src: url("../fonts/National-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Light.woff2") format("woff2"), url("../fonts/National-Light.woff") format("woff"), url("../fonts/National-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-LightItalic;
  src: url("../fonts/National-LightItalic.eot");
  src: url("../fonts/National-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/National-LightItalic.woff2") format("woff2"), url("../fonts/National-LightItalic.woff") format("woff"), url("../fonts/National-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: National-Semibold;
  src: url("../fonts/National-Semibold.eot");
  src: url("../fonts/National-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Semibold.woff2") format("woff2"), url("../fonts/National-Semibold.woff") format("woff"), url("../fonts/National-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  min-width: 320px;
  font-family: "National-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  color: #231F20; }
  @media only screen and (min-width: 719px) {
    body {
      font-size: 18px; } }

button {
  background: none; }

a {
  color: #2BC1D6; }
  a:hover {
    text-decoration: none; }

.wrapper {
  margin: 0 auto;
  padding-bottom: 50px; }

.center {
  max-width: 1066px;
  margin: 0 auto;
  padding: 0 20px; }
  @media only screen and (min-width: 719px) {
    .center {
      padding: 0 35px; } }

.layout {
  *zoom: 1; }
  .layout:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (min-width: 767px) {
    .layout {
      margin-bottom: 60px; } }

@media only screen and (min-width: 767px) {
  .section {
    float: left;
    width: 52%; } }

@media only screen and (min-width: 767px) {
  .aside {
    float: right;
    width: 42%; } }

@media only screen and (min-width: 1023px) {
  .aside {
    width: 39%; } }

.column {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
  @media only screen and (min-width: 767px) {
    .column {
      max-width: 100%;
      margin: 0; } }
  @media only screen and (min-width: 767px) {
    .column_left {
      float: left;
      width: 40%; } }
  @media only screen and (min-width: 767px) {
    .column_right {
      width: 50%;
      float: right; } }

.header {
  min-height: 68px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #D9DADB; }
  @media only screen and (min-width: 719px) {
    .header {
      margin-bottom: 70px;
      padding-bottom: 8px; } }
  .header__center {
    *zoom: 1; }
    .header__center:after {
      content: " ";
      display: table;
      clear: both; }
  .header__logo {
    float: left;
    margin-top: 25px;
    font-family: "Nevis", Arial, sans-serif;
    font-size: 27px;
    color: #231F20;
    letter-spacing: -2px;
    text-decoration: none; }
    @media only screen and (min-width: 719px) {
      .header__logo {
        margin-top: 21px;
        font-size: 31px; } }

.nav {
  float: right;
  margin-top: 30px; }
  @media only screen and (min-width: 767px) {
    .nav {
      margin-top: 35px; } }
  .nav__btn {
    height: 22px;
    padding: 0 5px;
    border: 1px solid;
    font-family: "National-Light", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    @media only screen and (min-width: 719px) {
      .nav__btn {
        height: 26px;
        font-size: 21px; } }
    @media only screen and (min-width: 767px) {
      .nav__btn {
        display: none; } }
  .nav__list {
    display: none;
    float: right; }
    @media only screen and (min-width: 767px) {
      .nav__list {
        display: block; } }
  .nav__group {
    float: left;
    margin-left: 60px; }
    .nav__group:first-child {
      margin: 0; }
  .nav__link {
    float: left;
    margin-left: 20px;
    font-family: "National-Regular", Arial, sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: none; }
    .nav__link:first-child {
      margin: 0; }

.content {
  margin-bottom: 30px;
  line-height: 1.4; }
  @media only screen and (min-width: 719px) {
    .content {
      margin-bottom: 50px;
      line-height: 1.8; } }
  .content h1,
  .content h2,
  .content h3,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    font-family: "National-Medium", Arial, sans-serif;
    font-weight: 400; }
  .content h4 {
    font-size: 18px; }
    @media only screen and (min-width: 719px) {
      .content h4 {
        margin-bottom: 20px;
        font-size: 24px; } }
  .content h6 {
    font-size: 15px;
    color: #2BC1D6; }
    @media only screen and (min-width: 719px) {
      .content h6 {
        font-size: 18px; } }
  .content p {
    margin-bottom: 20px; }
  .content img {
    max-width: 100%; }
  .content table {
    max-width: 490px;
    margin: 0 auto; }
    .content table th,
    .content table td {
      padding: 15px 10px;
      border: 1px solid #cccdd0;
      text-align: center; }
    .content table th {
      font-family: "National-Semibold", Arial, sans-serif; }

.author {
  margin-bottom: 5px;
  *zoom: 1; }
  .author:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (min-width: 719px) {
    .author {
      margin-bottom: 15px;
      padding-bottom: 13px;
      border-bottom: 1px solid #f1f2f3; } }
  @media only screen and (min-width: 767px) {
    .author {
      margin-bottom: 20px;
      padding-bottom: 0;
      border: none; } }
  .author__ava {
    float: left;
    width: 46px;
    margin-right: 10px; }
    @media only screen and (min-width: 719px) {
      .author__ava {
        margin-right: 20px;
        width: 54px; } }
    .author__ava-el {
      display: block;
      max-width: 100%;
      border-radius: 50%; }
  .author__info {
    display: table; }
    @media only screen and (min-width: 719px) {
      .author__info {
        line-height: 1.1; } }
  .author__name {
    font-family: "National-LightItalic", Arial, sans-serif;
    font-size: 18px;
    color: #939598; }
    @media only screen and (min-width: 719px) {
      .author__name {
        font-size: 24px; } }
  .author__title {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 22px; }
    @media only screen and (min-width: 719px) {
      .author__title {
        font-size: 30px; } }

.price {
  margin-bottom: 20px;
  font-size: 35px;
  color: #939598;
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }
  @media only screen and (min-width: 719px) {
    .price {
      margin-bottom: 40px; } }
  @media only screen and (min-width: 767px) {
    .price {
      margin-bottom: 15px;
      padding: 10px 0 15px;
      border-bottom: 1px solid #f1f2f3;
      font-family: "National-Extrabold", Arial, sans-serif;
      text-align: left;
      font-size: 30px;
      color: #231F20; } }

.slider {
  position: relative;
  margin: 0 -20px 20px; }
  @media only screen and (min-width: 719px) {
    .slider {
      margin: 0 -35px 40px; } }
  @media only screen and (min-width: 767px) {
    .slider {
      margin: 0 0 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #f1f2f3; } }
  .slider__list {
    padding-bottom: 20px;
    font-size: 0;
    text-align: center; }
    @media only screen and (min-width: 719px) {
      .slider__list {
        padding-bottom: 30px; } }
    .slider__list .slick-prev {
      left: 10px; }
      @media only screen and (min-width: 767px) {
        .slider__list .slick-prev {
          left: -25px; } }
    .slider__list .slick-next {
      right: 10px; }
      @media only screen and (min-width: 767px) {
        .slider__list .slick-next {
          right: -25px; } }
  .slider__item {
    position: relative; }
  .slider__item-pic {
    display: inline-block;
    max-width: 100%;
    vertical-align: top; }
  .slider__label {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #2BC1D6; }
    @media only screen and (min-width: 719px) {
      .slider__label {
        left: 35px; } }
    .slider__label .icon {
      font-size: 94px; }
      @media only screen and (min-width: 719px) {
        .slider__label .icon {
          font-size: 140px; } }
  .slider__previews {
    display: none;
    max-width: 476px;
    margin: 0 auto;
    font-size: 0; }
    @media only screen and (min-width: 719px) {
      .slider__previews {
        display: block; } }
    .slider__previews-item {
      width: 68px;
      padding: 2px 0;
      text-align: center; }
    .slider__previews-img {
      max-width: 58px;
      max-height: 58px;
      border: 1px solid #cccdd0;
      cursor: pointer; }
    .slick-center .slider__previews-img {
      border-color: #2BC1D6;
      box-shadow: 0 0 0 2px #2BC1D6; }
    .slider__previews .slick-prev {
      left: -25px; }
    .slider__previews .slick-next {
      right: -25px; }
  .slider .slick-prev,
  .slider .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 10px;
    font-size: 0;
    color: #D9DADB;
    z-index: 2; }
    .slider .slick-prev:before,
    .slider .slick-next:before {
      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      text-rendering: auto;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 20px; }
  .slider .slick-prev:before {
    content: "\EA04"; }
  .slider .slick-next:before {
    content: "\EA05"; }
  .slider .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 0; }
    .slider .slick-dots li {
      display: inline-block;
      padding: 0 3px;
      vertical-align: top; }
      .slider .slick-dots li.slick-active button {
        background: #EE4288; }
    .slider .slick-dots button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #D9DADB;
      font-size: 0; }

.product {
  margin-bottom: 30px; }
  @media only screen and (min-width: 719px) {
    .product {
      margin-bottom: 55px; } }
  .product__type,
  .product__title {
    text-align: center; }
    @media only screen and (min-width: 767px) {
      .product__type,
      .product__title {
        text-align: left; } }
  .product__type {
    font-size: 16px;
    letter-spacing: 3px; }
  .product__title {
    margin-bottom: 20px;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 28px; }
    @media only screen and (min-width: 719px) {
      .product__title {
        margin-bottom: 30px; } }
  .product__options {
    margin-bottom: 30px; }
  .product__msg {
    font-family: "National-LightItalic", Arial, sans-serif;
    text-align: center; }
  .product__btn {
    width: 100%;
    margin-bottom: 7px; }
  @media only screen and (min-width: 767px) {
    .product__content {
      margin-bottom: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f1f2f3; } }

.sizes {
  margin-bottom: 35px; }
  .sizes__head {
    font-size: 16px; }
  .sizes__wrap {
    display: none;
    padding-top: 25px; }
  .sizes__list {
    margin-bottom: 25px; }
  .sizes__product {
    position: relative;
    margin-bottom: 10px;
    padding-left: 18px; }
    .sizes__product:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 6px;
      height: 6px;
      background: #231F20;
      border-radius: 50%; }
  .sizes__table {
    width: 100%; }
    .sizes__table-pic {
      display: block;
      max-width: 100%; }
    .sizes__table th {
      height: 44px;
      padding: 0 10px;
      background: #2BC1D6;
      border: 1px solid #2BC1D6;
      font-family: "National-Extrabold", Arial, sans-serif;
      color: #FFF;
      vertical-align: middle; }
    .sizes__table td {
      height: 40px;
      padding: 0 10px;
      text-align: center;
      border: 1px solid #cccdd0;
      text-align: center;
      vertical-align: middle; }
      .sizes__table td:first-child {
        font-family: "National-Extrabold", Arial, sans-serif;
        font-size: 21px; }

.option {
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .option__title {
    margin-bottom: 10px;
    font-family: "National-Bold", Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase; }
  .option__selected {
    margin-left: 5px;
    font-family: "National-Light", Arial, sans-serif;
    text-transform: none; }
  .option__list {
    margin: 0 -10px -10px 0;
    font-size: 0; }
  .option__item {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
    vertical-align: top;
    cursor: pointer; }
  .option__input {
    display: none; }
  .option__input:checked + .option__var:before {
    display: block; }
  .option__var {
    display: block;
    position: relative; }
    .option__var:before {
      content: "";
      display: none;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 3px solid #2BC1D6;
      border-radius: 50%;
      z-index: 2; }
  .option__pic {
    width: 54px;
    height: 54px;
    border-radius: 50%; }
  .option__size {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #cccdd0;
    background: -webkit-linear-gradient(#f0f0f1, #e3e4e5);
    background: linear-gradient(#f0f0f1, #e3e4e5);
    text-align: center;
    line-height: 52px;
    font-size: 22px; }
  .option_sm .option__title {
    margin-bottom: 5px; }
  @media only screen and (min-width: 1023px) {
    .option_sm .option__pic {
      width: 42px;
      height: 42px; } }
  @media only screen and (min-width: 1023px) {
    .option_sm .option__size {
      width: 42px;
      height: 42px;
      line-height: 40px;
      font-size: 18px; } }

.select {
  position: relative; }
  .select__head {
    position: relative;
    height: 42px;
    padding: 0 34px 0 12px;
    border: 1px solid #cccdd0;
    background: -webkit-linear-gradient(#fff, #e1e2e3);
    background: linear-gradient(#fff, #e1e2e3);
    border-radius: 2px;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    overflow: hidden; }
    .select__head:before,
    .select__head:after {
      content: "";
      position: absolute; }
    .select__head:before {
      top: 0;
      right: 0;
      width: 26px;
      height: 40px;
      border-left: 1px solid #cccdd0;
      border-left: 0 2px 2px 0;
      background: -webkit-linear-gradient(right, #fafafa, #e2e3e4);
      background: linear-gradient(to left, #fafafa, #e2e3e4); }
    .select__head:after {
      top: 12px;
      right: 8px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 0 9px 9px;
      border-color: transparent transparent #fff transparent;
      box-shadow: 1px 1px 0 #cccdd0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .select__el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    cursor: pointer; }

.form {
  margin-bottom: 40px; }
  .form__title {
    margin-bottom: 8px;
    font-family: "National-Bold", Arial, sans-serif;
    letter-spacing: 3px; }
    @media only screen and (min-width: 1023px) {
      .form__title {
        margin-bottom: 30px; } }
  .form__head {
    *zoom: 1; }
    .form__head:after {
      content: " ";
      display: table;
      clear: both; }
  .form__paysys {
    float: right; }
    @media only screen and (min-width: 1023px) {
      .form__paysys {
        display: none; } }
  .form__fieldset {
    margin-bottom: 25px; }
  @media only screen and (min-width: 1023px) {
    .form__fieldset_row {
      margin: 0 -10px 40px;
      *zoom: 1; }
      .form__fieldset_row:after {
        content: " ";
        display: table;
        clear: both; } }
  @media only screen and (min-width: 1023px) {
    .form__field,
    .form__option {
      float: left;
      width: 50%;
      padding: 0 10px; } }
  @media only screen and (min-width: 1023px) {
    .form__option_sm {
      width: 30%; } }
  @media only screen and (min-width: 1023px) {
    .form__option_md {
      width: 35%; } }
  @media only screen and (min-width: 1023px) {
    .form__field_wide {
      width: 100%; } }
  @media only screen and (min-width: 1023px) {
    .form__field_lg {
      width: 65%; } }
  @media only screen and (min-width: 1023px) {
    .form__field_sm {
      width: 35%; } }
  .form__btn {
    width: 100%; }
  .form__or {
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (min-width: 1023px) {
      .form__or {
        display: none; } }
  @media only screen and (min-width: 1023px) {
    .form__row {
      margin: 0 -10px;
      *zoom: 1; }
      .form__row:after {
        content: " ";
        display: table;
        clear: both; } }
  @media only screen and (min-width: 1023px) {
    .form__col {
      float: left;
      width: 50%;
      padding: 0 10px; } }
  .form__close {
    display: none;
    position: absolute;
    top: 33px;
    right: -5px;
    width: 30px;
    background: #FFF;
    border-radius: 50%;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 22px;
    line-height: 30px; }
    @media only screen and (min-width: 719px) {
      .form__close {
        display: block; } }
  .form_change {
    display: none;
    position: relative;
    margin: 0; }
    .form_change.is-active {
      display: block; }
    @media only screen and (max-width: 718px) {
      .form_change {
        padding: 10px;
        border: 1px solid #cccdd0;
        border-radius: 5px; } }
    @media only screen and (min-width: 719px) {
      .form_change {
        display: block;
        padding-right: 30px; }
        .form_change:after {
          content: "";
          position: absolute;
          top: 30px;
          left: -50px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 20px 20px 20px 0;
          border-color: transparent #F1F2F2 transparent transparent; } }
  .form_change .form__option:last-child {
    margin: 0; }
  .form_change .form__fieldset {
    margin: 0; }

.field {
  margin-bottom: 5px; }
  .field__label {
    margin-bottom: 5px;
    font-size: 18px; }
    @media only screen and (min-width: 719px) {
      .field__label {
        font-family: "National-Extrabold", Arial, sans-serif;
        font-size: 20px; } }
  .field__label_hidden,
  .field__wrap_hidden {
    display: none; }
  .field_style {
    margin-bottom: 20px; }
  .field_style .field__label {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase; }

.input {
  width: 100%;
  height: 42px;
  padding: 0 12px;
  border: 1px solid #cccdd0;
  border-radius: 2px;
  font-family: "National-Light", Arial, sans-serif;
  font-size: 18px; }

.btn {
  height: 56px;
  padding: 0 20px;
  background: #EE4288;
  border-radius: 4px;
  font-family: "National-Light", Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  letter-spacing: 1px; }
  .btn:hover {
    background: #ef4f8d; }
  .btn:disabled {
    background: #BCBDC0;
    cursor: not-allowed; }
  .btn__pic,
  .btn__title {
    display: inline-block;
    vertical-align: middle; }
  .btn__pic {
    margin-left: 10px;
    width: 105px; }
  .btn_white {
    background: #FFF;
    border: 1px solid #cccdd0;
    color: #231F20; }
    .btn_white:hover {
      background: #F1F2F2; }

.paysys {
  font-size: 0; }
  .paysys__item {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top; }
    .paysys__item:first-child {
      margin: 0; }
  .paysys__logo {
    width: 33px; }

.card__wrap {
  *zoom: 1; }
  .card__wrap:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (max-width: 1022px) {
    .card__wrap {
      height: 42px;
      padding: 0 12px;
      border: 1px solid #cccdd0;
      background: #FFF;
      border-radius: 2px; } }

@media only screen and (max-width: 1022px) {
  .card__wrap.is-active .card__number_full {
    display: none; } }

@media only screen and (max-width: 1022px) {
  .card__wrap.is-active .card__fieldset {
    display: block; } }

.card__preview {
  position: relative;
  float: left;
  width: 33px;
  height: 22px;
  margin: 10px 12px 0 0;
  border-radius: 2px;
  font-size: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  @media only screen and (min-width: 1023px) {
    .card__preview {
      display: none; } }
  .card__preview.is-active .card__preview-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card__preview.is-active .card__preview-back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  .card__preview-front,
  .card__preview-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 22px;
    background: #cccdd0;
    border-radius: 2px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: 0.6s;
            transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  .card__preview-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    z-index: 2; }
  .card__preview-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .card__preview-back .card__preview-pic {
    display: block; }
  .card__preview-pic {
    display: none;
    width: 33px; }
    .card__preview-pic.is-active {
      display: block; }

.card__logo {
  width: 33px; }

.card__number {
  overflow: hidden; }
  @media only screen and (min-width: 1023px) {
    .card__number_full {
      float: left;
      width: 50%; } }
  .card__number_short {
    float: left;
    width: 65px; }
    @media only screen and (min-width: 1023px) {
      .card__number_short {
        display: none; } }

.card__input {
  width: 100%;
  height: 40px;
  font-family: "National-Light", Arial, sans-serif;
  font-size: 18px; }
  @media only screen and (max-width: 1022px) {
    .card__input {
      border: none;
      padding: 0; } }

.card__field-label {
  display: none;
  margin-bottom: 5px;
  font-family: "National-Extrabold", Arial, sans-serif;
  font-size: 20px; }
  @media only screen and (min-width: 1023px) {
    .card__field-label {
      display: block; } }

.card__date,
.card__cvv {
  float: left;
  width: 65px; }
  @media only screen and (min-width: 1023px) {
    .card__date,
    .card__cvv {
      width: 25%;
      padding-left: 20px; } }

.card__edit {
  padding-top: 3px;
  font-family: "National-LightItalic", Arial, sans-serif;
  text-decoration: underline;
  font-size: 14px;
  color: #939598; }
  @media only screen and (min-width: 1023px) {
    .card__edit {
      display: none; } }

.card__fieldset {
  display: none; }
  @media only screen and (min-width: 1023px) {
    .card__fieldset {
      display: block; } }

.tabs__nav {
  display: none;
  margin-bottom: 25px;
  font-size: 0; }
  @media only screen and (min-width: 767px) {
    .tabs__nav {
      display: block; } }

.tabs__link {
  display: inline-block;
  margin-right: 40px;
  padding: 0 10px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  opacity: .7; }
  .tabs__link:hover,
  .tabs__link.is-active {
    opacity: 1; }
  .tabs__link.is-active .tabs__link-title {
    border-color: #2BC1D6; }
  .tabs__link-icon {
    margin-bottom: 7px; }
    .tabs__link-icon .icon {
      font-size: 30px; }
  .tabs__link-title {
    border-bottom: 4px solid transparent;
    font-family: "National-Regular", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #000; }

.tabs__title {
  margin: 0 -20px 20px;
  padding: 2px 20px;
  background: #2BC1D6;
  font-family: "National-Extrabold", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #fff; }
  @media only screen and (min-width: 719px) {
    .tabs__title {
      margin: 0 -35px 50px;
      padding: 10px 35px; } }
  @media only screen and (min-width: 767px) {
    .tabs__title {
      margin: 0 0 30px;
      padding: 0;
      background: none;
      text-align: left;
      font-size: 26px;
      color: #231F20; } }

.tabs__item {
  position: relative; }
  @media only screen and (min-width: 767px) {
    .tabs__item {
      display: none; } }
  @media only screen and (min-width: 767px) {
    .tabs__item.is-active {
      display: block; } }

.counter {
  margin-bottom: 35px;
  font-size: 0;
  text-align: center; }
  @media only screen and (min-width: 719px) {
    .counter {
      margin-bottom: 55px; } }
  .counter__item,
  .counter__dots {
    display: inline-block;
    vertical-align: top; }
  .counter__item {
    width: 54px; }
    @media only screen and (min-width: 719px) {
      .counter__item {
        width: 64px; } }
  .counter__value,
  .counter__dots {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 27px;
    line-height: 1; }
    @media only screen and (min-width: 719px) {
      .counter__value,
      .counter__dots {
        font-size: 33px; } }
  .counter__type {
    font-size: 18px; }
    @media only screen and (min-width: 719px) {
      .counter__type {
        padding-top: 5px;
        font-size: 20px; } }

.progress {
  margin-bottom: 45px; }
  @media only screen and (min-width: 719px) {
    .progress {
      margin-bottom: 30px; } }
  .progress__el {
    position: relative;
    height: 14px;
    margin-bottom: 20px;
    border-radius: 7px 0 0 7px;
    background: #D9DADB; }
    .progress__el:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 14px;
      width: 14px;
      border-radius: 7px;
      box-shadow: 1px 0 0 #fff, 2px 0 0 #fff, 4px 0 0 #fff, 7px 0 0 #fff; }
  .progress__range {
    position: relative;
    height: 14px;
    background: -webkit-linear-gradient(#f05394, #f05394 50%, #EE4288 50%, #EE4288);
    background: linear-gradient(#f05394, #f05394 50%, #EE4288 50%, #EE4288);
    border-radius: 7px 0 0 7px; }
  .progress__tooltip {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 40px;
    margin-right: -20px;
    background: #231F20;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFF; }
    .progress__tooltip:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -6px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #231F20 transparent transparent transparent; }
  .progress__wrap {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #cccdd0;
    table-layout: fixed;
    font-size: 0; }
    @media only screen and (min-width: 767px) {
      .progress__wrap {
        max-width: 320px; } }
    .progress__wrap:before {
      content: "";
      position: absolute;
      top: -7px;
      left: 50%;
      margin-left: -10px;
      box-shadow: 1px -1px 0 #cccdd0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 14px 14px 0;
      border-color: transparent #fff transparent transparent; }
  .progress__info {
    display: inline-block;
    width: 33.33%;
    padding: 10px 12px;
    text-align: center;
    vertical-align: top;
    line-height: 1.1; }
    .progress__info:first-child {
      text-align: left; }
    .progress__info:last-child {
      text-align: right; }
    .progress__info-wrap {
      display: inline-block;
      text-align: center;
      vertical-align: top; }
  .progress__val {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 27px; }
  .progress__type {
    font-size: 18px; }
  .progress__label {
    margin-top: -20px;
    *zoom: 1; }
    .progress__label:after {
      content: " ";
      display: table;
      clear: both; }
    .progress__label-item {
      float: right; }
      .progress__label-item:first-child {
        float: left; }
  .progress_scale {
    margin-bottom: 30px;
    padding-top: 24px; }

.info {
  display: table;
  position: relative;
  margin: 0 auto 30px;
  padding-left: 20px;
  color: #939598; }
  @media only screen and (min-width: 719px) {
    .info {
      margin-bottom: 60px;
      padding-left: 25px; } }
  .info__icon {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 0; }
    .info__icon .icon {
      font-size: 13px; }
      @media only screen and (min-width: 719px) {
        .info__icon .icon {
          font-size: 17px; } }

.share {
  margin-bottom: 25px;
  text-align: center;
  font-size: 0; }
  @media only screen and (min-width: 719px) {
    .share {
      margin-bottom: 80px; } }
  .share__title {
    position: relative;
    margin-bottom: 25px;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -1px; }
    @media only screen and (min-width: 719px) {
      .share__title {
        margin-bottom: 40px;
        padding-bottom: 20px;
        font-family: "National-Light", Arial, sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 4px; }
        .share__title:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 220px;
          margin-left: -110px;
          height: 1px;
          background: #f1f2f3; } }
  .share__btn {
    width: 38px;
    height: 38px;
    margin: 0 8px 10px;
    background: #231F20;
    border-radius: 50%;
    border: 2px solid #231F20;
    font-size: 0;
    color: #FFF;
    vertical-align: top; }
    @media only screen and (min-width: 719px) {
      .share__btn {
        width: 54px;
        height: 54px;
        margin: 0 10px 10px; } }
    .share__btn:hover {
      background: #FFF;
      color: #231F20; }
    .share__btn:active {
      background: #231F20;
      color: #fff;
      opacity: .7; }
    .share__btn .icon-twitter {
      font-size: 17px; }
      @media only screen and (min-width: 719px) {
        .share__btn .icon-twitter {
          font-size: 24px; } }
    .share__btn .icon-facebook {
      font-size: 20px; }
      @media only screen and (min-width: 719px) {
        .share__btn .icon-facebook {
          font-size: 27px; } }
    .share__btn .icon-instagram {
      font-size: 18px; }
      @media only screen and (min-width: 719px) {
        .share__btn .icon-instagram {
          font-size: 25px; } }
    .share__btn .icon-pinterest {
      font-size: 21px; }
      @media only screen and (min-width: 719px) {
        .share__btn .icon-pinterest {
          font-size: 28px; } }
    .share__btn .icon-email {
      font-size: 14px; }
      @media only screen and (min-width: 719px) {
        .share__btn .icon-email {
          font-size: 21px; } }
  .share__text {
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 20px; }
    @media only screen and (min-width: 767px) {
      .share__text {
        padding: 0;
        font-size: 28px; } }
  .share_simple {
    margin-bottom: 60px; }
    @media only screen and (min-width: 767px) {
      .share_simple {
        margin-bottom: 0;
        text-align: left; } }
  .share_simple .share__btn {
    margin-left: 4px;
    margin-right: 4px;
    border-color: transparent;
    background: transparent;
    color: #2BC1D6; }
    .share_simple .share__btn .icon-twitter {
      font-size: 24px; }
    .share_simple .share__btn .icon-facebook {
      font-size: 27px; }
    .share_simple .share__btn .icon-instagram {
      font-size: 25px; }
    .share_simple .share__btn .icon-pinterest {
      font-size: 28px; }
    .share_simple .share__btn .icon-email {
      font-size: 21px; }

.item {
  width: 276px;
  border: 1px solid #cccdd0;
  cursor: pointer; }
  @media only screen and (min-width: 719px) {
    .item {
      width: 290px; } }
  .item:hover .item__wrap {
    opacity: .6; }
  .item:hover .item__progress-type {
    font-family: "National-LightItalic", Arial, sans-serif; }
  .item__wrap {
    position: relative; }
  .item__price {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #231F20;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFF; }
    @media only screen and (min-width: 719px) {
      .item__price {
        top: 18px;
        right: 18px;
        width: 46px;
        height: 46px;
        font-size: 22px;
        line-height: 46px; } }
  .item__pic {
    display: block;
    max-width: 100%; }
  .item__head {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px 15px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.2; }
  .item__author {
    font-family: "National-LightItalic", Arial, sans-serif;
    font-size: 17px; }
  .item__title {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 20px; }
  .item__progress-el {
    height: 14px;
    background: #D9DADB; }
  .item__progress-range {
    height: 14px;
    background: #EE4288; }
  .item__progress-wrap {
    display: table;
    width: 100%;
    border-top: 1px solid #cccdd0; }
  .item__progress-info {
    display: table-cell;
    width: 50%;
    padding: 7px;
    vertical-align: top;
    text-align: center;
    line-height: 1.1; }
    .item__progress-info:nth-child(2) {
      border-left: 1px solid #cccdd0; }
  .item__progress-val {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 22px; }
  .item__progress-type {
    font-size: 18px; }

.similar {
  margin: 0 -20px;
  font-size: 0; }
  @media only screen and (min-width: 719px) {
    .similar {
      margin: 0 -35px; } }
  .similar__title {
    margin-bottom: 20px;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 24px;
    text-align: center; }
    @media only screen and (min-width: 719px) {
      .similar__title {
        margin-bottom: 30px;
        font-size: 38px; } }
  .similar__slide {
    padding-left: 20px; }
    @media only screen and (min-width: 719px) {
      .similar__slide {
        padding-left: 35px; } }
    @media only screen and (min-width: 1023px) {
      .similar__slide {
        padding: 0; } }
  @media only screen and (min-width: 1023px) {
    .similar__item {
      margin: 0 auto; } }

.shipping__nav {
  margin: 0 -20px 20px 0; }
  @media only screen and (min-width: 719px) {
    .shipping__nav {
      margin: 0 0 30px;
      text-align: center; } }
  @media only screen and (min-width: 767px) {
    .shipping__nav {
      position: absolute;
      top: 5px;
      right: 0; } }
  .shipping__nav-head {
    display: none;
    font-family: "National-Medium", Arial, sans-serif;
    color: #2BC1D6;
    cursor: pointer; }
    .shipping__nav-head:after {
      content: "";
      display: inline-block;
      margin-left: 4px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: #2BC1D6 transparent transparent transparent;
      vertical-align: middle; }
    @media only screen and (min-width: 767px) {
      .shipping__nav-head {
        display: block; } }
  @media only screen and (min-width: 767px) {
    .shipping__nav-list {
      display: none;
      position: absolute;
      top: -6px;
      right: -4px;
      min-width: 100%;
      background: #FFF;
      border-radius: 4px;
      border: 1px solid #cccdd0; }
      .shipping__nav-list.is-active {
        display: block; } }

.shipping__link {
  display: inline-block;
  margin: 0 20px 10px 0;
  font-family: "National-Medium", Arial, sans-serif;
  font-size: 18px;
  vertical-align: top;
  text-decoration: none; }
  .shipping__link.is-active {
    text-decoration: underline; }
    @media only screen and (min-width: 767px) {
      .shipping__link.is-active {
        background: rgba(43, 193, 214, 0.1); } }
  @media only screen and (min-width: 719px) {
    .shipping__link {
      margin: 0 25px 10px;
      font-size: 20px; } }
  @media only screen and (min-width: 767px) {
    .shipping__link {
      display: block;
      margin: 0;
      padding: 5px 15px;
      border-top: 1px solid #cccdd0;
      font-size: 18px;
      white-space: nowrap; }
      .shipping__link:first-child {
        border: none; } }

.shipping__item {
  display: none; }
  .shipping__item.is-active {
    display: block; }

.back {
  margin-bottom: 15px; }
  .back__link,
  .back__title {
    display: inline-block;
    vertical-align: middle; }
  .back__link {
    text-decoration: none; }
  .back__link:hover .back__title {
    text-decoration: none; }
  .back__title {
    font-family: "National-LightItalic", Arial, sans-serif;
    font-size: 17px;
    text-decoration: underline; }
  .back .icon {
    margin-right: 5px;
    font-size: 10px;
    vertical-align: middle; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  background: rgba(35, 31, 32, 0.4);
  overflow: auto; }
  @media only screen and (min-width: 719px) {
    .popup {
      padding: 35px 0; } }
  .popup__center {
    padding: 0; }
    @media only screen and (min-width: 719px) {
      .popup__center {
        padding: 0 35px; } }
  .popup__in {
    position: relative;
    background: #FFF;
    *zoom: 1; }
    .popup__in:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (min-width: 719px) {
      .popup__in:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 290px;
        bottom: 0;
        width: auto;
        background: #F1F2F2; } }
  .popup__close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 22px;
    line-height: 30px;
    z-index: 10; }
    @media only screen and (min-width: 719px) {
      .popup__close {
        display: block; } }
  .popup__row {
    clear: both;
    *zoom: 1; }
    .popup__row:after {
      content: " ";
      display: table;
      clear: both; }
  .popup__section,
  .popup__aside {
    position: relative;
    padding: 10px; }
    @media only screen and (min-width: 719px) {
      .popup__section,
      .popup__aside {
        padding: 35px 25px 30px; } }
  .popup__section {
    z-index: 2; }
    @media only screen and (min-width: 719px) {
      .popup__section {
        float: right;
        width: 100%;
        margin-left: -290px;
        padding-left: 320px; } }
  .popup__aside {
    z-index: 4; }
    @media only screen and (min-width: 719px) {
      .popup__aside {
        float: left;
        width: 290px;
        overflow: hidden; } }

.order {
  padding-bottom: 50px; }
  .order__title {
    margin-bottom: 2px;
    font-family: "National-Bold", Arial, sans-serif;
    letter-spacing: 3px; }
  .order__title-sub {
    margin-bottom: 30px;
    font-family: "National-LightItalic", Arial, sans-serif;
    color: #EE4288; }
  .order__item {
    position: relative;
    margin-bottom: 20px;
    *zoom: 1; }
    .order__item:after {
      content: " ";
      display: table;
      clear: both; }
  .order__preview {
    float: left;
    width: 70px; }
  .order__pic {
    display: block;
    max-width: 100%; }
  .order__info {
    float: right;
    width: 100%;
    margin-left: -90px;
    padding: 0 20px 0 90px; }
  .order__close {
    position: absolute;
    top: -5px;
    right: 0;
    width: 20px;
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 22px;
    line-height: 30px; }
    @media only screen and (min-width: 719px) {
      .order__close {
        display: none; } }
  .order__name {
    font-family: "National-Extrabold", Arial, sans-serif;
    font-size: 18px; }
  .order__options {
    margin-bottom: 5px;
    font-family: "National-LightItalic", Arial, sans-serif;
    font-size: 16px;
    color: #939598; }
  .order__price {
    text-align: right;
    font-size: 18px; }
  .order__stats {
    margin-bottom: 2px;
    *zoom: 1; }
    .order__stats:after {
      content: " ";
      display: table;
      clear: both; }
    .order__stats-value {
      float: right;
      margin-left: 20px;
      padding-top: 1px;
      font-size: 18px; }
    .order__stats-title {
      display: table;
      font-family: "National-Extrabold", Arial, sans-serif;
      font-size: 20px; }
    .order__stats_total {
      padding-top: 20px; }
    .order__stats_total .order__stats-value {
      font-family: "National-Extrabold", Arial, sans-serif;
      padding: 0;
      font-size: 20px; }
    .order__stats_thin .order__stats-title {
      font-family: "National-Light", Arial, sans-serif; }
  .order__id {
    margin-bottom: 15px; }
    .order__id-number {
      margin-right: 5px;
      font-family: "National-Bold", Arial, sans-serif; }
  .order__edit {
    color: #EE4288; }
    @media only screen and (min-width: 719px) {
      .order__edit {
        display: none; } }
  @media only screen and (min-width: 1023px) {
    .order_form {
      width: 50%;
      margin-left: 50%;
      padding-left: 10px; } }
  .order_single {
    padding: 0; }
  .order_single .order__item {
    margin: 0; }
  @media only screen and (min-width: 719px) {
    .order_single .order__preview {
      float: none;
      width: 100%;
      margin: 0; } }
  @media only screen and (min-width: 719px) {
    .order_single .order__info {
      float: none;
      margin: 0 0 20px;
      padding: 0;
      text-align: center; } }
  @media only screen and (min-width: 719px) {
    .order_single .order__name {
      font-size: 24px; } }
  @media only screen and (min-width: 719px) {
    .order_single .order__options {
      font-size: 18px; } }

.thank {
  margin-bottom: 65px;
  text-align: center;
  font-size: 28px; }
  @media only screen and (min-width: 767px) {
    .thank {
      margin-bottom: 25px;
      text-align: left; } }
  .thank__title {
    margin-bottom: 25px; }
  .thank__bold {
    font-family: "National-Bold", Arial, sans-serif; }

.mark {
  margin-bottom: 45px;
  text-align: center;
  font-size: 0;
  color: #2BC1D6; }
  @media only screen and (min-width: 767px) {
    .mark {
      margin-bottom: 100px;
      padding-top: 30px; } }
  .mark .icon {
    font-size: 140px; }

.title {
  margin-bottom: 5px;
  font-family: "National-Bold", Arial, sans-serif;
  font-size: 23px; }
  @media only screen and (min-width: 767px) {
    .title {
      font-size: 28px; } }

@media only screen and (min-width: 719px) {
  .bg {
    padding-top: 25px;
    background: #F5F5F7; } }

.secure {
  margin-top: 30px;
  font-family: "National-LightItalic", Arial, sans-serif;
  font-size: 14px;
  text-align: center; }
  .secure__wrap {
    margin-bottom: 10px;
    font-size: 0; }
  .secure__icon,
  .secure__title {
    display: inline-block;
    vertical-align: middle; }
  .secure__icon {
    margin-right: 10px; }
    .secure__icon .icon {
      font-size: 14px; }
  .secure__title {
    font-size: 14px; }

/*# sourceMappingURL=screen.css.map */
