<header class="header">
  <div class="header__center center"><a href="#" class="header__logo">omaze</a>
    <div class="nav">
      <button class="nav__btn">menu</button>
      <div class="nav__list">
        <div class="nav__group"><a href="#" class="nav__link">Experiences</a><a href="#" class="nav__link">Charities</a><a href="#" class="nav__link">Blog</a></div>
        <div class="nav__group"><a href="#" class="nav__link">Preferred Language</a><a href="#" class="nav__link">Log In</a><a href="#" class="nav__link">Sign Up</a></div>
      </div>
    </div>
  </div>
</header>