doctype html
html
	head
		meta(charset='utf-8')
		title Template
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='css/screen.css')
	body
		//- wrapper
		.wrapper
			//- header
			header.header.header_campaign
				.header__center.center
					a.header__logo(href="#") omaze
					.nav.nav_white
						button.nav__btn menu
						.nav__list
							.nav__group
								a.nav__link(href="#") Experiences
								a.nav__link(href="#") Charities
								a.nav__link(href="#") Blog
							.nav__group
								a.nav__link(href="#") Preferred Language
								a.nav__link(href="#") Log In
								a.nav__link(href="#") Sign Up
			//- main
			.main
				.main__center.center
					.main__logo omaze
						span.main__logo-white made
					.main__title Every Shirt Sold Benefits an Amazing Cause
			//- center
			.center
				//- campaigns
				.campaigns
					.campaigns__title FEATURED CAMPAIGNS
					.campaigns__list
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
						.campaigns__col
							//- item
							.campaigns__item.item
								.item__wrap
									.item__price 18$
									img.item__pic(src="img/product.jpg", alt="")
									.item__head
										.item__author Robert Downey Jr.
										.item__title Official Iron Man T-shirt
								.item__progress
									.item__progress-el
										.item__progress-range(style="width: 60%;")
									.item__progress-wrap
										.item__progress-info
											.item__progress-val 65%
											.item__progress-type funded
										.item__progress-info
											.item__progress-val 18 days
											.item__progress-type left
			//- how
			.how
				.how__center.center
					.how__title How It Works
				.how__list
					.how__center.center
						.how__item
							.how__type FIND YOUR STYLE
							.how__info
								.how__icon
									i.icon.icon-how-find
								.how__text Take a look around our shop and check out our exclusive T-shirts,created together with our partners just for you.
						.how__item
							.how__type DONATE TO THE CAUSE
							.how__info
								.how__icon
									i.icon.icon-how-donate
								.how__text Each campaign raises money to benefit a specific charity close to our hearts, and your purchase benefits these amazing causes.
						.how__item
							.how__type SHARE OUR GOAL
							.how__info
								.how__icon
									i.icon.icon-how-share
								.how__text Let your friends know about us!  The more you share, the faster we reach our goal and the bigger our impact can be!
						.how__item
							.how__type ROCK YOUR SHIRT
							.how__info
								.how__icon
									i.icon.icon-how-rock
								.how__text Two weeks after the campaign closes and reaches its goal, we print and ship your items!  Share your pictures with us here.
		//- scripts
		script(src='js/lib/head.js', data-headjs-load='js/init.js')
