doctype html
html
	head
		meta(charset='utf-8')
		title Template
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='css/screen.css')
	body
		//- popup
		.popup
			.popup__wrap
				//- center
				.popup__center.center
					.popup__in
						button.popup__close x
						.popup__section
							//- back
							.back
								a.back__link(href="#")
									i.icon.icon-arrow-back
									span.back__title Back to order summary
							//- form
							.form
								.form__title SHIPPING INFORMATION:
								.form__fieldset.form__fieldset_row
									//- field
									.form__field.field
										.field__label First Name:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.field
										.field__label Last Name:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.form__field_wide.field
										.field__label Email Address:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.field
										.field__label Country:
										.field__wrap
											//- select
											.select
												.select__head United States
												select.select__el.js-select.js-checkout-select-country
													option(value="us") United States
													option(value="canada") Canada
													option(value="inter") International
									//- field
									.form__field.form__field_lg.field
										.field__label Shipping Address:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.form__field_sm.field
										.field__label Apt, Suite, etc.:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.field
										.field__label City:
										.field__wrap
											input.input(type="text")
									//- field
									.form__field.field
										.field__label.js-checkout-label-state State
										.field__label.field__label_hidden.js-checkout-label-state-all State/Province/Region:
										.field__wrap.js-checkout-wrap-state
											//- select
											.select
												.select__head CA - California
												select.select__el.js-select
													option CA - California
													option CA - California
													option CA - California
										.field__wrap.field__wrap_hidden.js-checkout-wrap-state-all
											//- input
											input.input(type="text")
									//- field
									.form__field.field
										.field__label Zip Code:
										.field__wrap
											input.input(type="text")
								.form__fieldset
									.form__head
										//- paysys
										.form__paysys.paysys
											.paysys__item
												img.paysys__logo(src="img/pay-systems/visa.svg", alt="")
											.paysys__item
												img.paysys__logo(src="img/pay-systems/mastercard.svg", alt="")
											.paysys__item
												img.paysys__logo(src="img/pay-systems/amex.svg", alt="")
											.paysys__item
												img.paysys__logo(src="img/pay-systems/discover.svg", alt="")
										.form__title BILLIING:
									//- card
									.form__card.card
										.card__wrap.js-card-wrap
											.card__preview.js-card-preview
												.card__preview-front
													img.card__preview-pic.js-card-item.js-card-visa(src="img/pay-systems/visa.svg", alt="")
													img.card__preview-pic.js-card-item.js-card-mastercard(src="img/pay-systems/mastercard.svg", alt="")
													img.card__preview-pic.js-card-item.js-card-amex(src="img/pay-systems/amex.svg", alt="")
													img.card__preview-pic.js-card-item.js-card-discover(src="img/pay-systems/discover.svg", alt="")
												.card__preview-back
													img.card__preview-pic(src="img/card-cvv.svg", alt="")
											.card__number.card__number_full.js-card-number-full
												.card__field
													.card__field-label Credit Card #:
													.card__field-wrap
														input.card__input.input.js-card-number(type="text")
											.card__fieldset.js-card-fieldset
												.card__number.card__number_short
													.card__field
														.card__field-wrap
															input.card__input.input.js-card-number-short(type="text")
												.card__date
													.card__field
														.card__field-label Expiration:
														.card__field-wrap
															input.card__input.input.js-card-date(type="text")
												.card__cvv
													.card__field
														.card__field-label CVV:
														.card__field-wrap
															input.card__input.input.js-card-cvv(type="text")
										.card__edit Enter card number for expiration date and CVV
								.form__foot
									.form__row.form__row_invert
										.form__col
											button.form__btn.btn(disabled) CONFIRM ORDER
											button.form__btn.btn PAY $36 + $4 SHIPPING
										.form__col
											//- go-back
											a.go-back(href="#")
												.go-back__icon
													i.icon.icon-arrow-back-sm
												.go-back__title Edit Your Order
						.popup__aside
							//- campaign
							.campaign
								.campaign__info
									.campaign__author Arnold Schwarzenegger’s
									.campaign__title Official Selfie Stick T-shirt
									.campaign__title-sub Benefiting After-School All-Stars
							//- order
							.order
								.order__title ORDER SUMMARY:
								.order__title-sub Benefiting After-School All-Stars
								.order__list
									.order__item
										.order__info
											.order__name Men’s T-Shirt
											.order__options Heather Grey - L
											.order__price $18.00
										.order__preview
											img.order__pic(src="img/product.jpg", alt="")
									.order__item
										.order__info
											.order__name Men’s T-Shirt
											.order__options Heather Grey - L
											.order__price $18.00
										.order__preview
											img.order__pic(src="img/product.jpg", alt="")
								.order__stats
									.order__stats-value $3.00
									.order__stats-title Sales Tax:
								.order__stats
									.order__stats-value $4.00
									.order__stats-title Shipping:
								.order__stats.order__stats_total
									.order__stats-value $43.00
									.order__stats-title TOTAL:

		//- scripts
		script(src='js/lib/head.js', data-headjs-load='js/init.js')
