doctype html
html
	head
		meta(charset='utf-8')
		title Template
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='css/screen.css')
	body
		//- popup
		.popup
			.popup__wrap
				//- center
				.popup__center.center
					.popup__in
						button.popup__close x
						.popup__section
							//- form
							.form
								.form__title ORDER SUMMARY:
								.form__fieldset.form__fieldset_row
									//- field
									.form__field.field
										.field__label Style:
										.field__wrap
											//- select
											.select
												.select__head Men’s T-Shirt - $18
												select.select__el.js-select
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
									//- field
									.form__field.field
										.field__label Size:
										.field__wrap
											//- select
											.select
												.select__head Large
												select.select__el.js-select
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
									//- field
									.form__field.field
										.field__label Color:
										.field__wrap
											//- select
											.select
												.select__head Heather Grey
												select.select__el.js-select
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
								.form__foot
									button.form__btn.btn(disabled) CONFIRM ORDER
									button.form__btn.btn PAY $36 + $4 SHIPPING
									button.form__btn.btn.btn_white PAY WITH
										img.btn__paypal(src="img/pay-systems/paypal.svg", alt="")
						.popup__aside
							//- back
							.back
								a.back__link(href="#")
									i.icon.icon-arrow-back
									span.back__title Back to campaign
							//- order
							.order
								.order__list
									.order__item
										.order__preview
											img.order__pic(src="img/product.jpg", alt="")
										.order__info
											.order__name Men’s T-Shirt
											.order__options Heather Grey - L
											a.order__edit(href="#") tap to edit
								.order__stats
									.order__stats-value $3.00
									.order__stats-title Subtotal:
								.order__stats
									.order__stats-value $4.00
									.order__stats-title Shipping:
								.order__stats.order__stats_total
									.order__stats-value $43.00
									.order__stats-title TOTAL:

		//- scripts
		script(src='js/lib/head.js', data-headjs-load='js/init.js')
