doctype html
html
	head
		meta(charset='utf-8')
		title Template
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='css/screen.css')
	body
		//- popup
		.popup
			.popup__wrap
				//- center
				.popup__center.center
					.popup__in
						button.popup__close x
						.popup__aside
							//- back
							.back
								a.back__link(href="#")
									i.icon.icon-arrow-back
									span.back__title Back to campaign
							//- order
							.order
								.order__list
									.order__item
										.order__preview
											img.order__pic(src="img/product.jpg", alt="")
										.order__info
											.order__name Men’s T-Shirt
											.order__options Heather Grey - L
											a.order__edit(href="#") tap to edit
						.popup__section
							//- form
							.form
								.form__fieldset.form__fieldset_row
									//- field
									.form__field.field.field_style
										.field__label Style:
										.field__wrap
											//- select
											.select
												.select__head Men’s T-Shirt - $18
												select.select__el.js-select
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
													option Men’s T-Shirt - $18
									//- option
									.form__option.option
										.option__title COLOR
											span.option__selected - Heather Grey
										.option__list
											label.option__item
												input.option__input(type="radio", name="opt1", checked)
												span.option__var 
													img.option__pic(src="img/texture.jpg", alt="")
											label.option__item
												input.option__input(type="radio", name="opt1")
												span.option__var 
													img.option__pic(src="img/texture.jpg", alt="")
									//- option
									.form__option.form__option_lg.option
										.option__title size
											span.option__selected - Large
										.option__list
											label.option__item
												input.option__input(type="radio", name="opt2", checked)
												span.option__var 
													span.option__size S
											label.option__item
												input.option__input(type="radio", name="opt2",)
												span.option__var 
													span.option__size M
											label.option__item
												input.option__input(type="radio", name="opt2",)
												span.option__var 
													span.option__size L
											label.option__item
												input.option__input(type="radio", name="opt2",)
												span.option__var 
													span.option__size XL
											label.option__item
												input.option__input(type="radio", name="opt2",)
												span.option__var 
													span.option__size XXL
							//- order
							.order.order_form
								.order__stats
									.order__stats-value $3.00
									.order__stats-title Subtotal:
								.order__stats
									.order__stats-value $4.00
									.order__stats-title Shipping:
								.order__stats.order__stats_total
									.order__stats-value $43.00
									.order__stats-title TOTAL:
							//- form
							.form
								.form__foot
									.form__row
										.form__col
											button.form__btn.btn PAY WITH CARD
										.form__or - or -
										.form__col
											button.form__btn.btn.btn_white
												span.btn__title PAY WITH
												img.btn__pic(src="img/pay-systems/paypal.svg", alt="")

		//- scripts
		script(src='js/lib/head.js', data-headjs-load='js/init.js')
